## Creating database engine in python with SQLAlchemy

In [1]:
# import library
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# create engine
engine = create_engine('sqlite:///data/db/chinook.db')

In [3]:
table_names = engine.table_names()

In [4]:
print(table_names)

['albums', 'artists', 'customers', 'employees', 'employees2', 'genres', 'invoice_items', 'invoices', 'media_types', 'playlist_track', 'playlists', 'sqlite_sequence', 'sqlite_stat1', 'tracks']

### Connecting the database

In [5]:
con = engine.connect()

### Querying database from connection

In [6]:
result = con.execute('SELECT * FROM customers')

In [7]:
type(result)

sqlalchemy.engine.result.ResultProxy

### Assign it to pandas dataframe

In [8]:
cust_df = pd.DataFrame(result.fetchall())

In [9]:
cust_df.columns = result.keys()

### Close database connection

In [10]:
con.close()

In [11]:
cust_df.head()

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4

In [12]:
cust_df.set_index('CustomerId', inplace=True)

In [13]:
cust_df.head()

,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
CustomerId,,,,,,,,,,,,
1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4

## Using the context manager
with ___ as conn:

In [14]:
with engine.connect() as conn:
    rs = conn.execute('SELECT * FROM artists')
    art_df = pd.DataFrame(rs.fetchall())
    art_df.columns = rs.keys()

In [15]:
art_df.set_index('ArtistId', inplace=True)

In [16]:
art_df.shape

(275, 1)

## Querying relational databases directly with pandas
pd.read_sql_query('query', engine)

In [17]:
employees_df = pd.read_sql_query('SELECT * FROM employees', engine, index_col='EmployeeId', parse_dates=['BirthDate','HireDate'])

In [18]:
employees_df.head()

,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
EmployeeId,,,,,,,,,,,,,,
1,Adams,Andrew,General Manager,NaN,1962-02-18,2002-08-14,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
2,Edwards,Nancy,Sales Manager,1.0,1958-12-08,2002-05-01,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29,2002-04-01,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
4,Park,Margaret,Sales Support Agent,2.0,1947-09-19,2003-05-03,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03,2003-10-17,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

In [19]:
album_df = pd.read_sql_query('SELECT * FROM albums', engine, index_col='AlbumId')

In [20]:
album_df.head()

                                         Title  ArtistId
AlbumId
1        For Those About To Rock We Salute You         1
2                            Balls to the Wall         2
3                            Restless and Wild         2
4                            Let There Be Rock         1
5                                     Big Ones         3

In [21]:
album_df.shape

(347, 2)

In [22]:
artist_album = art_df.merge(album_df, on='ArtistId')

In [23]:
artist_album.set_index('Title', inplace=True)

In [24]:
artist_album.head(20)

                                          ArtistId                  Name
Title
For Those About To Rock We Salute You            1                 AC/DC
Let There Be Rock                                1                 AC/DC
Balls to the Wall                                2                Accept
Restless and Wild                                2                Accept
Big Ones                                         3             Aerosmith
Jagged Little Pill                               4     Alanis Morissette
Facelift                                         5       Alice In Chains
Warner 25 Anos                                   6  Antônio Carlos Jobim
Chill: Brazil (Disc 2)                           6  Antônio Carlos Jobim
Plays Metallica By Four Cellos                   7          Apocalyptica
Audioslave                                       8            Audioslave
Out Of Exile                                     8            Audioslave
Revelations                                      8            Audioslave
BackBeat Soundtrack                              9              BackBeat
The Best Of Billy Cobham                        10          Billy Cobham
Alcohol Fueled Brewtality Live! [Disc 1]        11   Black Label Society
Alcohol Fueled Brewtality Live! [Disc 2]        11   Black Label Society
Black Sabbath                                   12         Black Sabbath
Black Sabbath Vol. 4 (Remaster)                 12         Black Sabbath
Body Count                                      13            Body Count

## Advanced Querying with relationship

In [25]:
engine.table_names()

['albums',
 'artists',
 'customers',
 'employees',
 'employees2',
 'genres',
 'invoice_items',
 'invoices',
 'media_types',
 'playlist_track',
 'playlists',
 'sqlite_sequence',
 'sqlite_stat1',
 'tracks']

In [26]:
music_df = pd.read_sql_query(
    'SELECT tracks.TrackId, tracks.Name, tracks.Composer, albums.Title, artists.Name FROM ((tracks INNER JOIN albums ON tracks.AlbumId == albums.AlbumId) INNER JOIN artists ON artists.ArtistId == albums.ArtistId)', 
    engine, index_col='TrackId')

In [27]:
music_df.columns = ['Track Name', 'Composer', 'Album Title', 'Artist Name']

In [28]:
music_df[music_df['Composer'].isna()]

,Track Name,Composer,Album Title,Artist Name
TrackId,,,,
2,Balls to the Wall,None,Balls to the Wall,Accept
63,Desafinado,None,Warner 25 Anos,Antônio Carlos Jobim
64,Garota De Ipanema,None,Warner 25 Anos,Antônio Carlos Jobim
65,Samba De Uma Nota Só (One Note Samba),None,Warner 25 Anos,Antônio Carlos Jobim
66,Por Causa De Você,None,Warner 25 Anos,Antônio Carlos Jobim
...,...,...,...,...
3478,Slowness,None,Carried to Dust (Bonus Track Version),Calexico
3481,"A Midsummer Night's Dream, Op.61 Incidental Mu...",None,Mendelssohn: A Midsummer Night's Dream,Philharmonia Orchestra & Sir Neville Marriner
3496,"Étude 1, In C Major - Preludio (Presto) - Liszt",None,Liszt - 12 Études D'Execution Transcendante,Michele Campanella
3497,"Erlkonig, D.328",None,Great Recordings of the Century - Shubert: Sch...,Gerald Moore
3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,None,Respighi:Pines of Rome,Eugene Ormandy