# Pandas Introduction
## this library can do data analysing from databases, excel, csv, etc

In [2]:
# Import Library
import pandas as pd 
import numpy as np

# Pandas Series

Analyzing population growth in Indonesia by year from 1990 to 2018 (in milliion). In this session i will use object with pandas.Series

Data Reference = https://datacommons.org/tools/timeline#&place=country/IDN&statsVar=Count_Person

In [3]:
# import library
import pandas as pd
import numpy as np # also import numpy because pandas uses numpy

In [4]:
# create a series with pandas
# population in Indonesia (in millions)
ina_pop = pd.Series([181.413, 184.592, 187.740, 190.851, 193.917, 196.934, 199.901, 202.826, 205.725, 208.615, 211.514, 214.427, 217.358, 220.309, 223.286, 226.289, 229.318, 232.374, 235.470, 238.621, 241.834, 245.116, 248.452, 251.806, 255.129, 258.383, 261.554, 264.646, 267.663])

In [5]:
ina_pop

0     181.413
1     184.592
2     187.740
3     190.851
4     193.917
5     196.934
6     199.901
7     202.826
8     205.725
9     208.615
10    211.514
11    214.427
12    217.358
13    220.309
14    223.286
15    226.289
16    229.318
17    232.374
18    235.470
19    238.621
20    241.834
21    245.116
22    248.452
23    251.806
24    255.129
25    258.383
26    261.554
27    264.646
28    267.663
dtype: float64

In [6]:
# naming the series for better understanding
ina_pop.name = "Indonesia Population in millions from 1990 to 2018"
ina_pop

0     181.413
1     184.592
2     187.740
3     190.851
4     193.917
5     196.934
6     199.901
7     202.826
8     205.725
9     208.615
10    211.514
11    214.427
12    217.358
13    220.309
14    223.286
15    226.289
16    229.318
17    232.374
18    235.470
19    238.621
20    241.834
21    245.116
22    248.452
23    251.806
24    255.129
25    258.383
26    261.554
27    264.646
28    267.663
Name: Indonesia Population in millions from 1990 to 2018, dtype: float64

In [7]:
ina_pop.dtype # data type for each elements

dtype('float64')

In [8]:
ina_pop.values

array([181.413, 184.592, 187.74 , 190.851, 193.917, 196.934, 199.901,
       202.826, 205.725, 208.615, 211.514, 214.427, 217.358, 220.309,
       223.286, 226.289, 229.318, 232.374, 235.47 , 238.621, 241.834,
       245.116, 248.452, 251.806, 255.129, 258.383, 261.554, 264.646,
       267.663])

In [9]:
type(ina_pop.values) # this series is numpy.ndarray

numpy.ndarray

In [10]:
ina_pop.index

RangeIndex(start=0, stop=29, step=1)

In [11]:
ina_pop.size

29

In [27]:
# change index from 0 - 28 with year value for each elements
year = np.arange(1990, 2019)
ina_pop.index = [year]
ina_pop

1990    181.413
1991    184.592
1992    187.740
1993    190.851
1994    193.917
1995    196.934
1996    199.901
1997    202.826
1998    205.725
1999    208.615
2000    211.514
2001    214.427
2002    217.358
2003    220.309
2004    223.286
2005    226.289
2006    229.318
2007    232.374
2008    235.470
2009    238.621
2010    241.834
2011    245.116
2012    248.452
2013    251.806
2014    255.129
2015    258.383
2016    261.554
2017    264.646
2018    268.000
Name: Indonesia Population in millions from 1990 to 2018, dtype: float64

In [13]:
# view data by specific index (year)
pd.Series(ina_pop, index=[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018])

2010    241.834
2011    245.116
2012    248.452
2013    251.806
2014    255.129
2015    258.383
2016    261.554
2017    264.646
2018    267.663
Name: Indonesia Population in millions from 1990 to 2018, dtype: float64

## Indexing
simillar with list and dict in python

In [14]:
ina_pop[1990]

181.413

In [15]:
ina_pop[[2010, 2011, 2012]]

2010    241.834
2011    245.116
2012    248.452
Name: Indonesia Population in millions from 1990 to 2018, dtype: float64

In [16]:
# iloc attribute uses number index
ina_pop.iloc[0]

181.413

In [17]:
ina_pop.iloc[[0, 2]]

1990    181.413
1992    187.740
Name: Indonesia Population in millions from 1990 to 2018, dtype: float64

In [28]:
ina_pop.loc[2010:2012]

2010    241.834
2011    245.116
2012    248.452
Name: Indonesia Population in millions from 1990 to 2018, dtype: float64

In [18]:
ina_pop[: 2018]

1990    181.413
1991    184.592
1992    187.740
1993    190.851
1994    193.917
1995    196.934
1996    199.901
1997    202.826
1998    205.725
1999    208.615
2000    211.514
2001    214.427
2002    217.358
2003    220.309
2004    223.286
2005    226.289
2006    229.318
2007    232.374
2008    235.470
2009    238.621
2010    241.834
2011    245.116
2012    248.452
2013    251.806
2014    255.129
2015    258.383
2016    261.554
2017    264.646
2018    267.663
Name: Indonesia Population in millions from 1990 to 2018, dtype: float64

## Conditional in pandas series (boolean series)

In [19]:
ina_pop > ina_pop.mean() # return true if population greater than the data mean

1990    False
1991    False
1992    False
1993    False
1994    False
1995    False
1996    False
1997    False
1998    False
1999    False
2000    False
2001    False
2002    False
2003    False
2004    False
2005     True
2006     True
2007     True
2008     True
2009     True
2010     True
2011     True
2012     True
2013     True
2014     True
2015     True
2016     True
2017     True
2018     True
Name: Indonesia Population in millions from 1990 to 2018, dtype: bool

In [20]:
ina_pop[ina_pop > ina_pop.mean()] # select and display each population that is greater than the data mean

2005    226.289
2006    229.318
2007    232.374
2008    235.470
2009    238.621
2010    241.834
2011    245.116
2012    248.452
2013    251.806
2014    255.129
2015    258.383
2016    261.554
2017    264.646
2018    267.663
Name: Indonesia Population in millions from 1990 to 2018, dtype: float64

## Method and operation in pandas

In [21]:
ina_pop * 1_000_000 # multiply each elements by 1 mil

1990    181413000.0
1991    184592000.0
1992    187740000.0
1993    190851000.0
1994    193917000.0
1995    196934000.0
1996    199901000.0
1997    202826000.0
1998    205725000.0
1999    208615000.0
2000    211514000.0
2001    214427000.0
2002    217358000.0
2003    220309000.0
2004    223286000.0
2005    226289000.0
2006    229318000.0
2007    232374000.0
2008    235470000.0
2009    238621000.0
2010    241834000.0
2011    245116000.0
2012    248452000.0
2013    251806000.0
2014    255129000.0
2015    258383000.0
2016    261554000.0
2017    264646000.0
2018    267663000.0
Name: Indonesia Population in millions from 1990 to 2018, dtype: float64

In [22]:
ina_pop.sum() * 1_000_000

6496063000.0

In [23]:
ina_pop.mean() * 1_000_000

224002172.41379312

In [24]:
ina_pop[(ina_pop > 200) & (ina_pop < 250)] # select and display population that is greater than 200 *AND* less than 250 (in million)

1997    202.826
1998    205.725
1999    208.615
2000    211.514
2001    214.427
2002    217.358
2003    220.309
2004    223.286
2005    226.289
2006    229.318
2007    232.374
2008    235.470
2009    238.621
2010    241.834
2011    245.116
2012    248.452
Name: Indonesia Population in millions from 1990 to 2018, dtype: float64

## Series modifying

In [25]:
ina_pop

1990    181.413
1991    184.592
1992    187.740
1993    190.851
1994    193.917
1995    196.934
1996    199.901
1997    202.826
1998    205.725
1999    208.615
2000    211.514
2001    214.427
2002    217.358
2003    220.309
2004    223.286
2005    226.289
2006    229.318
2007    232.374
2008    235.470
2009    238.621
2010    241.834
2011    245.116
2012    248.452
2013    251.806
2014    255.129
2015    258.383
2016    261.554
2017    264.646
2018    267.663
Name: Indonesia Population in millions from 1990 to 2018, dtype: float64

In [26]:
ina_pop[2018] = 268 # changing the element value
ina_pop

1990    181.413
1991    184.592
1992    187.740
1993    190.851
1994    193.917
1995    196.934
1996    199.901
1997    202.826
1998    205.725
1999    208.615
2000    211.514
2001    214.427
2002    217.358
2003    220.309
2004    223.286
2005    226.289
2006    229.318
2007    232.374
2008    235.470
2009    238.621
2010    241.834
2011    245.116
2012    248.452
2013    251.806
2014    255.129
2015    258.383
2016    261.554
2017    264.646
2018    268.000
Name: Indonesia Population in millions from 1990 to 2018, dtype: float64