# Handling Data Cleaning with pandas

In [2]:
# import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# in numpy there is nan value which stands for not a number, this is a null value
pd.isna(np.nan) # return boolean datatype

True

In [5]:
pd.isnull(np.nan)

True

In [7]:
pd.notna(3) # not null value

True

In [8]:
pd.isna(None)

True

In [9]:
10 + np.nan # every data that is related to nan will be nan

nan

In [10]:
pd.isnull(11 + np.nan)

True